<header>
  <img
    src="https://res.cloudinary.com/nba-lagos/image/upload/v1608675013/App/nba_logo.png"
    height="60px"
    width="60px"
  />
  <h5 style="margin-left: 8px">
    THE NIGERIAN BAR ASSOCIATION <br />
    LAGOS BRANCH
  </h5>
</header>
