<footer>
  <p>
    If you did not register for this account, please
    <a style="color: #63cb6c" href="#">report it</a>
  </p>
  <div class="social">
    <a href="">
      <img src="" height="20px" />
    </a>
    <a href="">
      <img src="" height="20px" />
    </a>
  </div>
  <p class="address">APP FOOTER</p>
</footer>
