<footer>
  <p>
    If you did not register for this account, please
    <a style="color: #63cb6c" href="#">report it</a>
  </p>
  <div class="social">
    <a href="">
      <img
        src="https://res.cloudinary.com/nba-lagos/image/upload/v1608675011/App/twitter_icon_image.png"
        height="20px"
      />
    </a>
    <a href="">
      <img
        src="https://res.cloudinary.com/nba-lagos/image/upload/v1608675011/App/facebook_icon_image.png"
        height="20px"
      />
    </a>
  </div>
  <p class="address">
    Suite 105/108, West Wing, 1st floor, City Hall, Catholic Mission Street, Lagos Island <br />
    &copy; NBA Lagos, 2020. All Rights Reserved
  </p>
</footer>
