<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-NG">
  <%- include ("../partials/header") %>
  <body>
    <div class="wrapper">
      <main class="content-wrapper">
        <div>
          <h4 style="text-align: center; margin: 20px 0 20px 0">Email Verification Request Request</h4>
        </div>
        <div class="content">
          <!-- <p>We got a password reset request with your email address</p> -->
          <p>
            We got a request to verify your email, please click the button below or copy and paste the link
            into your browser.
          </p>
          <a href="<%= url %>"><button>Verify Email</button></a>
          <div style="margin-top: 10px; font-size: 10px"><%= url %></div>
          <div class="extra">
            <p>(Note: This verification link will expire in 24 hours.)</p>
            <p>
              Thanks <br />
              Clean Nodejs Boilerplate
            </p>
          </div>
        </div>
      </main>
      <%- include ("../partials/footer") %>
    </div>
  </body>
</html>
