<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-NG">
  <%- include ("../partials/header") %>
  <body>
    <div class="wrapper">
      <main class="content-wrapper">
        <div>
          <h4 style="text-align: center; margin: 20px 0 20px 0">Password Reset Request</h4>
        </div>
        <div class="content">
          <!-- <p>We got a password reset request with your email address</p> -->
          <p>
            Someone requested password reset instructions using this email address. If you didn't initiate
            this request, please ignore.
          </p>
          <a href="<%= url %>"><button>Reset Password</button></a>
          <div class="extra">
            <p>(Note: This reset link will expire in 24 hours.)</p>
            <p>
              Thanks <br />
              Clean Nodejs Boilerplate
            </p>
          </div>
        </div>
      </main>
      <%- include ("../partials/footer") %>
    </div>
  </body>
</html>
