body {
  font-family: "Mulish", sans-serif;
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.wrapper {
  max-width: 800px;
  margin: auto;
}
header {
  display: flex;
  padding: 10px;
  background: #1b4332;
  color: #fff;
  align-items: center;
}
.content-wrapper {
  padding: 20px;
}
.content-wrapper .content {
  padding: 10px 0 20 0px;
}
.content-wrapper .content p {
  font-size: 12px;
}
button {
  width: 100%;
  padding: 10px;
  color: #fff;
  border: none;
  background: #63cb6c;
  border-radius: 3px;
  margin-top: 20px;
  font-family: 12px;
  font-weight: 600;
}
.content-wrapper .content .receipt ul {
  background: #eee;
  padding: 20px;
  border-radius: 3px;
  font-size: 12px;
}
.content-wrapper .content .receipt ul li {
  display: flex;
  justify-content: space-between;
}
footer {
  padding: 20px;
  background: #eee;
  font-size: 12px;
  text-align: center;
}
footer .social a {
  color: #aaa;
}
footer .address {
  font-size: 10px;
}
